services:
  nuxt:
    build: .
    ports:
      - "8898:3000"
    environment:
      - DATABASE_URL=data.db
    volumes:
      - ./data.db:/app/data.db
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.datecron.schedule: "@every 30s"
      ofelia.job-exec.datecron.command: 'curl -u "$NUXT_BASIC_AUTH_USERS" http://localhost:3000/api/subscription/refresh_content'
    restart: unless-stopped

  curl-cron:
    image: curlimages/curl:latest
    depends_on:
      - nuxt
    restart: unless-stopped
    environment:
      NUXT_BASIC_AUTH_USERS: ${NUXT_BASIC_AUTH_USERS}
    command: >
      sh -c "
      while true; do
        echo '[cron] calling api...';
        curl -fsS -u \"$NUXT_BASIC_AUTH_USERS\" http://nuxt:3000/api/subscription/refresh_content;
        sleep 3600;
      done
      "
