services:
  nuxt:
    build: .
    ports:
      - "8898:3000"
    env_file:
      - .env.nuxt
    environment:
      - DATABASE_URL=data.db
      # - NUXT_BASIC_AUTH_ENABLED=false
      # - NUXT_BASIC_AUTH_USERS=admin:pass
    volumes:
      - ./data.db:/app/data.db
    restart: unless-stopped

  cron:
    build:
      context: .
      dockerfile: Dockerfile.cron
    image: "cron"
    restart: always